.body {
  font-size: 16px;
}

.body-container {
  width: 100%;
}

.deals-container {
  display: flex;
  /* align-items: center; */
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px 2px 10px;
  /* border-bottom: 0.5px solid rgb(126, 123, 123); */
  box-shadow: 0px 1px 1px 0px rgb(129, 129, 129);
  padding: 10px;
  width: 78%;
  background-color: white;
}

.left-header {
  display: flex;
  gap: 30px;
  align-items: center;
}

.dealsOfDay {
  font-size: 1.53rem;
  font-weight: 500;
}

.clock {
  margin: 5px -10px 0px 0px;
}

.time-left {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.5;
  color: black;
}

.view-all {
  padding: 10px 20px 10px 20px;
  background-color: #2878f0;
  color: white;
}

.dealsProduct {
  background-color: white;
  width: 78%;
  display: flex;
  align-items: center;
  margin: 0px 10px 2px 10px;
  padding: 30px;
  gap: 50px;
  flex-grow: 1;
  /* justify-content: space-between; */
}

.deals-product {
  width: 78%;
  margin-left: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.side-img-container {
  padding: 4px;
  background: white;
  /* height: auto; */
  position: absolute;
  right: 0;
}

.side-image {
  width: 250px;
  filter: brightness(95%);

  /* margin-left: -18%; */
}
