.deals-list {
  border: 1px solid red;
  margin: 10px;
  padding: 5px;
}

.deals-list p {
  font-weight: 300;
}

.dealsOfDay {
  display: flex;
  gap: 120px;
}

.b {
  overflow: hidden;
  transform: translateX(50%);
}
