.uc-container {
  /* border: 1px solid red; */
  margin-top: -70px;
  position: relative;
}

.uc-btn {
  padding: 20px;
  width: 120px;
  margin: 0px;
  background-color: rgb(108, 108, 228);
  color: white;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 230px;
}
