.body {
  font-size: 16px;
}

.priceCard {
  background: white;
  padding: 10px;
  /* border: 1px solid black; */
  width: 400px;
  height: 330px;
  /* margin: 0px 10px 0px 10px; */
  position: relative;
}

.priceCard:hover {
  transform: scale(1.03);
}

.priceCard-name {
  margin-bottom: 10px;
}

.priceCard-img {
  width: 140px;
  height: 135px;
  margin: 0px 25px 15px 25px;
}

.priceCard-two {
  display: flex;
  gap: 5px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  flex-grow: 1;
}

.flipkart-assured {
  height: 24px;
  width: 80px;
}

.priceCard-rating {
  font-size: 0.9rem;
  border: 1px solid green;
  background: green;
  color: white;
  border-radius: 3px;
}

.priceCard-ratings {
  color: gray;
}

.priceCard-newPrice {
  font-size: 1rem;
  font-weight: 500;
}

.priceCard-oldPrice {
  color: gray;
  text-decoration-line: line-through;
}

.offer {
  color: green;
}

.priceCard-three {
  font-size: 0.9rem;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.coin {
  height: 20px;
  width: 20px;
  position: absolute;
}
